html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

#logo{
    display:block;
    width: 300px;
    margin:auto;
    padding: 10px;
}

.navbar{
    position:sticky;
    top: 0px;
}

nav {
    border: 10px solid rgb(208, 179, 166);
    border-radius: 50px;
    background:rgb(240, 242, 243);
    margin:0 auto;
    text-align: center;
    line-height: 12px;
}

nav a{
    display:inline-block;
    font-family: Macondo;
    font-size: 25px;
    padding: 20px;
    color:rgb(103, 79, 64);
    text-decoration: none;
    transition: all .3s ease-out;
}

nav a:visited{
    color:rgb(197, 197, 196);
}

nav a:hover{
    transform: translate(0px, 5px);
    color: rgb(172, 45, 37);
}

body {
    font-family: Macondo;
    font-size: 25px;
    color:rgb(103, 79, 64);
    overflow-x:hidden;
}
