.navbar{
    position:sticky;
    top: 0px;
}

nav {
    background:rgb(245, 224, 189);
    min-height: 50px;
    margin:0 auto;
    text-align: center;
    line-height: 50px;
}

body {
    background-color: rgb(79, 10, 10);
    overflow-x:hidden;
}

#container {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

canvas {
        border: 5px solid black;
        position: absolute;
        max-width: 1200px;
        max-height: 1050px;
    }